<div class="matListDiv">
    <mat-list>
        <mat-list-item>
            Identifikator:
            <span></span>
            <label>{{ user.id }}</label>
        </mat-list-item>
        <mat-list-item>
            Uloga:
            <span></span>
            <label>{{ user.role }}</label>
        </mat-list-item>
        <mat-list-item>
            Identifikator kompanije u posedu:
            <span></span>
            <label>{{ user.ownedCompanyId }}</label>
        </mat-list-item>
        <mat-list-item>
            Identifikator izdatog zahteva za registraciju kompanije:
            <span></span>
            <label>{{ user.issuedCompanyRequestId }}</label>
        </mat-list-item>
        <mat-list-item>
            Korisničko ime:
            <span></span>
            <label>{{ user.username }}</label>
        </mat-list-item>
        <mat-list-item>
            Lozinka:
            <span></span>
            <label>{{ user.password }}</label>
        </mat-list-item>
        <mat-list-item>
            Ime:
            <span></span>
            <label>{{ user.firstName }}</label>
        </mat-list-item>
        <mat-list-item>
            Prezime:
            <span></span>
            <label>{{ user.lastName }}</label>
        </mat-list-item>
        <mat-list-item>
            Adresa elektronske pošte:
            <span></span>
            <label>{{ user.email }}</label>
        </mat-list-item>
        <mat-list-item>
            Broj telefona:
            <span></span>
            <label>{{ user.phone }}</label>
        </mat-list-item>
        <mat-list-item>
            Pol:
            <span></span>
            <label>{{ user.gender }}</label>
        </mat-list-item>
        <mat-list-item>
            Datum rođenja:
            <span></span>
            <label>{{ user.dateOfBirth }}</label>
        </mat-list-item>
        <mat-list-item>
            Biografija:
            <span></span>
            <label>{{ user.biography }}</label>
        </mat-list-item>
        <mat-list-item>
            Radno iskustvo:
            <span></span>
            <label>{{ user.workExperience }}</label>
        </mat-list-item>
        <mat-list-item>
            Obrazovanje:
            <span></span>
            <label>{{ user.education }}</label>
        </mat-list-item>
        <mat-list-item>
            Veštine:
            <span></span>
            <label>{{ user.skills }}</label>
        </mat-list-item>
        <mat-list-item>
            Interesovanja:
            <span></span>
            <label>{{ user.interests }}</label>
        </mat-list-item>
    </mat-list>
</div>
