<div class="feed">

    <div class="feed-input-container">
        <div class="feed-input">
          <form>
            <input type="text" placeholder="Start a post" name="text" [(ngModel)]="newPost.content"/>
          </form>
        </div>
        <div className="feed-input-options">
            <div class="input-options">
                <p>
                    <input type="file" #file accept="image/*" id="postImageInput" placeholder="Image" (change)="onImageSelected($event)">
                </p>
            </div>
            <button mat-raised-button color="secondary" class="like-button" type="submit" style="float: right; margin-top: -25px;" (click)="createPost()">Submit</button> <br>
        </div>
        
    </div> <br>

    <div *ngFor="let post of posts" >
        <div class="feed-input-container">
            <div class="picture-name">
                <p class="profile-pic">
                    <img src="../../../assets/images/profile.jpg" class="profile-picture" />
                </p>
     
            </div> <br> <br>
            <p class="post-text" [innerHTML]="post.content"></p> 
            <img style="width: 500px; " src="../../../assets/images/{{post.image}}"/><br><br>
            <p class="post-info likes">{{post.likesCount}} likes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{post.dislikesCount}} dislikes</p>
            <hr color="#c5c5c5" size="1" class="line">
            <button mat-raised-button color="secondary" class="like-button" (click)="insertLikeOrDislike(post.ownerId, post.id, this.like)">Like</button>
            <button mat-raised-button color="secondary" class="like-button" (click)="insertLikeOrDislike(post.ownerId, post.id, this.dislike)">Dislike</button>
            <button mat-raised-button color="secondary" class="like-button" >Comment</button> <br><br>
            <div class="feed-input comments">
                <form>
                    <mat-icon aria-hidden="false">comment</mat-icon>
                    <input type="text" placeholder="Comment" class="input-comment" [(ngModel)]="commentDTO.content" name="content" />
                </form>
                <button mat-raised-button color="secondary" class="like-button" (click)="createComment(post.ownerId, post.id)" >Comment</button>
            </div>
            <div class="feed-input comments" *ngFor="let comment of post.comments">
                <p>{{comment?this.pc(comment):""}}</p> 
            </div>
        </div> <br>
    </div>
</div>

