<mat-toolbar style="height: 7%; padding-inline: 15%; background-color: white; box-shadow: 2px 2px 10px #e6e6e6;" >

    <span style="margin-left: 1%; margin-right: 5%; ">Dislinked</span>

    <button  mat-button class="example-icon" aria-label="Example icon-button with menu icon" >
        Home
    </button>
    <button mat-button [matMenuTriggerFor]="network">Network</button>
    <mat-menu #network="matMenu">
        <button mat-menu-item style="padding-inline: 12%;" > All Profiles</button>
        <button mat-menu-item style="padding-inline: 12%;" > Connections</button>
        <button mat-menu-item style="padding-inline: 12%;" > Requests</button>
    </mat-menu>
    <button  mat-button [routerLink]="['/jobs']" >Jobs</button>
    <button  mat-button >My profile</button>
    
    <button mat-button [routerLink]="['/profiles']">Profiles</button>
    <span class="example-spacer"></span>
    <button mat-button >Sign Out</button>
    
    <button  mat-stroked-button color="primary" >Register</button>
    <button  mat-stroked-button  color="primary" [routerLink]="['/login']">Sign In</button>
</mat-toolbar>