<div class="matCardDiv">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Registracija kao običan korisnik</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form #registrationForm="ngForm" (ngSubmit)="submitData()" *ngIf="!isSubmitted" 
                [formGroup]="form">
                <mat-form-field>
                    <mat-label>Korisničko ime:</mat-label>
                    <input matInput type="text" required formControlName="username">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Lozinka:</mat-label>
                    <input matInput type="password" required formControlName="password">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Ime:</mat-label>
                    <input matInput type="text" required formControlName="firstName">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Prezime:</mat-label>
                    <input matInput type="text" required formControlName="lastName">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Adresa elektronske pošte:</mat-label>
                    <input matInput type="text" required formControlName="email">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Broj telefona:</mat-label>
                    <input matInput type="text" required formControlName="phone">
                </mat-form-field>
                <div>
                    <mat-label>Pol:</mat-label>
                    <mat-radio-group required formControlName="gender">
                        <mat-radio-button value="Male">Muški</mat-radio-button>
                        <mat-radio-button value="Female">Ženski</mat-radio-button>
                    </mat-radio-group>
                </div>
                <mat-form-field>
                    <mat-label>Datum rođenja:</mat-label>
                    <input matInput type="date" required formControlName="dateOfBirth">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Biografija:</mat-label>
                    <input matInput type="text" required formControlName="biography">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Radno iskustvo:</mat-label>
                    <input matInput type="text" required formControlName="workExperience">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Obrazovanje:</mat-label>
                    <input matInput type="text" required formControlName="education">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Veštine:</mat-label>
                    <input matInput type="text" required formControlName="skills">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Interesovanja:</mat-label>
                    <input matInput type="text" required formControlName="interests">
                </mat-form-field>
                <div class="buttonDiv">
                    <button [disabled]="!registrationForm.form.valid" color="accent" mat-raised-button 
                        type="submit">Registruj se</button>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <div class="buttonDiv">
                <button [disabled]="isSubmitted" color="primary" mat-raised-button mat-button 
                    routerLink="/">Početna stranica</button>
            </div>
        </mat-card-actions>
        <div class="spinnerDiv">
            <mat-spinner *ngIf="isSubmitted" mode="indeterminate"></mat-spinner>
        </div>
    </mat-card>
</div>
