<div style="margin-inline: 20%; margin-top: 2%;">


    <div class="profiles-container">
        <div>
            <h3 style="margin-top: 5%; font-size: 18px; font-weight: 400;">Company Info:</h3>
            <br>
            <form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label for="name">Company name:</label>
                    <div >
                        <input matInput style="width: 300px;" class="form-control" type="text" id="name" placeholder="name"
                            formControlName="name">
                        <small *ngIf="companyForm.controls['name'].touched && companyForm.controls['name'].errors?.['required']" class="text-danger">Name is required!</small>          
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <label for="name">Company address:</label>
                    <div >
                        <input style="width: 300px;" class="form-control" type="text" id="address" placeholder="address"
                            formControlName="address">
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <label for="name">Company email:</label>
                    <div >
                        <input style="width: 300px;" class="form-control" type="text" id="email" placeholder="email"
                            formControlName="email">
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <label for="name">Company phone:</label>
                    <div >
                        <input style="width: 300px;" class="form-control" type="text" id="phone" placeholder="phone"
                            formControlName="phone">
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <label for="name">Area of work:</label>
                    <div >
                        <textarea style="width: 700px ; height: 130px;" class="form-control" type="text" id="areaOfWork" placeholder="Area of work"
                            formControlName="areaOfWork"> </textarea>
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <label for="name">Description:</label>
                    <div >
                        <textarea  style="width: 700px ; height: 130px;"  class="form-control" type="text" id="description" placeholder="description"
                            formControlName="description"> </textarea>
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <label for="name">Work culture:</label>
                    <div >
                        <textarea  style="width: 700px ; height: 300px;"  class="form-control" type="text" id="workCulture" placeholder="Work culture"
                            formControlName="workCulture"> </textarea>
                    </div>
                </div>
                <br>
            
                

                <div class="form-group row float-right" *ngIf="isCompanyOwner">
                    <div class="col-12">
                        <button  mat-raised-button color="primary"  class="btn btn-primary " type="submit"
                            [disabled]="companyForm.invalid" (click)="onSubmit()" >Save changes</button>
                    </div>
                </div>
            </form>
         </div>
    </div>
    <br>
    <br>

    <div>
        <mat-tab-group mat-align-tabs="start" color="warn">
            
            <mat-tab label="Comments">
                <div style="margin-bottom: 10%; margin-top: 6%;">
                    <div style="padding-bottom: 2%; padding-inline: 0%; margin-bottom: 1%;">
                        <div class="flex-container">

                            <div class="flex-container flex-item" style="padding-inline: 0%;">
                                <h4 style="font-size: 18px; padding-left:2%;"> ({{comments.length}} Comments)</h4>
                            </div>
                            <div class="flex-item" style="text-align: right;">
                                <button mat-raised-button color="primary" (click)="openNewCommentDialog()" *ngIf="!isCompanyOwner">Leave a Comment</button>
                            </div>
                        </div>
                        <div class="rectangle"></div>
                        <br>
                        <div class="flex-container">
                            <div class="flex-item"  *ngFor="let comment of comments">
                                <div class="white-container" style="padding: 3%; padding-inline: 4%;">

                                    <div class="flex-container" style="padding-inline: 1%;">
                                        <p>
                                            <strong>Position:</strong>: {{comment.position}}
                                        </p>
                                    </div>
                                    <div class="flex-container" style="padding-inline: 1%;">
                
                                        <p><strong>Part time/Full time:</strong> {{comment.engagement}}</p>
                                    
                                    </div>

                                    <div class="flex-container" style="padding-inline: 1%;">
                
                                        <p><strong>Experience:</strong> {{comment.experienceLevel}}</p>
                                    
                                    </div>

                                    <div  style="padding-inline: 1%;">
                                        <p> {{comment.content}}</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Interviews">
                <div style="margin-bottom: 10%; margin-top: 6%;">
                    <div style="padding-bottom: 2%; padding-inline: 0%; margin-bottom: 1%;">
                        <div class="flex-container">

                            <div class="flex-container flex-item" style="padding-inline: 0%;">
                                <h4 style="font-size: 18px; padding-left:2%;"> ({{interviews.length}} Interviews)</h4>
                            </div>
                            <div class="flex-item" style="text-align: right;">
                                <button mat-raised-button color="primary" (click)="openNewInterviewDialog()" *ngIf="!isCompanyOwner">Leave experience on an interview</button>
                            </div>
                        </div>
                        <div class="rectangle"></div>
                        <br>
                        <div class="flex-container">
                            <div class="flex-item"  *ngFor="let interview of interviews">
                                <div class="white-container" style="padding: 3%; padding-inline: 4%;">
                                    <div class="flex-container" style="padding-inline: 1%;">
                
                                        <h3><strong>Title:</strong> {{interview.title}}</h3>
                                    
                                    </div>
                                    <div class="flex-container" style="padding-inline: 1%;">
                                        <p>
                                            <strong>Position:</strong> {{interview.position}}
                                        </p>
                                    </div>
                                    <div class="flex-container" style="padding-inline: 1%;">
                
                                        <p><strong>Year:</strong>: {{interview.yearOfInterview}}</p>
                                    
                                    </div>

                                    <div class="flex-container" style="padding-inline: 1%;">
                
                                        <p><strong>HR interview:</strong> {{interview.hrInterview}}</p>
                                    
                                    </div>
                                    <div class="flex-container" style="padding-inline: 1%;">
                
                                        <p><strong>Technical interview:</strong> {{interview.technicalInterview}}</p>
                                    
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </mat-tab>


            <mat-tab label="Wages">
                <div style="margin-bottom: 10%; margin-top: 6%;">
                    <div style="padding-bottom: 2%; padding-inline: 0%; margin-bottom: 1%;">
                        <div class="flex-container">

                            <div class="flex-container flex-item" style="padding-inline: 0%;">
                                <h4 style="font-size: 18px; padding-left:2%;"> ({{wages.length}} Wage overviews)</h4>
                            </div>
                            <div class="flex-item" style="text-align: right;">
                                <button mat-raised-button color="primary" (click)="openNewWageDialog()" *ngIf="!isCompanyOwner">Leave your wage experience</button>
                            </div>
                        </div>
                        <div class="rectangle"></div>
                        <br>
                        <div class="flex-container">
                            <div class="flex-item"  *ngFor="let wage of wages">
                                <div class="white-container" style="padding: 3%; padding-inline: 4%;">
                                    <div class="flex-container" style="padding-inline: 1%;">
                
                                        <h3><strong>Position:</strong> {{wage.position}}</h3>
                                    
                                    </div>
                                    <div class="flex-container" style="padding-inline: 1%;">
                                        <p>
                                            <strong>Part time/Full time:</strong> {{wage.engagement}}
                                        </p>
                                    </div>
                                    <div class="flex-container" style="padding-inline: 1%;">
                
                                        <p><strong>Experience:</strong>: {{wage.experienceLevel}}</p>
                                    
                                    </div>

                                    <div class="flex-container" style="padding-inline: 1%;">
                
                                        <p><strong>Neto wage:</strong> {{wage.netoWage}}e monthly</p>
                                    
                                    </div>
                                   
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </mat-tab>



        </mat-tab-group>

    </div>


</div>