<mat-toolbar color="primary" class="navbar">
    <button style="font-size: 25px" mat-button routerLink="/">AgentApp</button>
    <button  mat-raised-button mat-button  [routerLink]="['/register-company']" *ngIf="role == 'CommonUser' && isAuthenticated">Company Registration</button>
    <button mat-raised-button mat-button [routerLink]="['/companies']" *ngIf="isAuthenticated">Companies</button>
    <button mat-raised-button mat-button [routerLink]="['/jobs']" *ngIf="isAuthenticated">Jobs</button>
    <button mat-raised-button mat-button [routerLink]="['/company-requests']" *ngIf="role == 'Administrator' && isAuthenticated">Registration Requests</button>
    <span class="example-spacer"></span>

    <button mat-raised-button mat-button [routerLink]="['/register']" *ngIf="!isAuthenticated">Registruj se</button>
    <button mat-raised-button mat-button [routerLink]="['/login']" *ngIf="!isAuthenticated">Prijavi se</button>
    <button mat-raised-button mat-button (click)="logOut()" *ngIf="isAuthenticated">Odjavi se</button>
</mat-toolbar>
